:root {
    --white: #ffffff;
    --highlight: #adb5bd;
    --midlight: #6c757d;
    /* --midlight: #6656ac; */
    --shadow: #495057;
    --dark-shadow: #343a40;
    --darkest: #212529;
}

/* Themes */

.dark-theme {
    color: var(--white);
    background-color: var(--dark-shadow);
}

.mid-bg {
    background-color: var(--midlight);
}

.mid-theme {
    border-bottom: solid 1px var(--midlight);
}

/* Containers */

.bit-container {
    max-height: 35vh; 
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}

.block-party {
    height: 85vh;
    max-height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}

.hidden {
    display: none;
}

.invalid {
    border: solid 2px red;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--midlight);
    box-shadow: inset 0 0 5px var(--highlight);
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--shadow);
}

/* Utilities */

.bottom-border{
    border-bottom: solid 1px var(--midlight);
}

.left-side {
    justify-self: flex-start;
}
.min-height {
    min-height: 5%;
}

.modal-height {
    max-height: 90vh;
}

.set-height {
    max-height: 15vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}

.small-font {
    font-size: small;
}

.extra-small-font {
    font-size: x-small;
}